.pBar{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.mainDiv{
    display: flex;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.inpt{
    padding: 10px;
    border-radius: 10px;
}

.summary{
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  
  background-color: whitesmoke;
  font-family:Montserrat;
}

.summaryItem{
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  font-weight:400;
  font-size: 18px;
}
.summaryTitle{
  font-weight: 400;
  text-align:center;
}

.cart{
    cursor: pointer;
    color: black;
    font-size: 30px;
    margin: 10px;
    margin-right:30px;
}
.nxt{
    /* margin-left: 80% !important; */
    width:14% ;
    padding:6px;
    border-radius:20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: whitesmoke;
    border: 1px solid white;
}
.nxt:hover{
    /* background-image: linear-gradient(to right, red,rgba(67, 143, 173, 0.933)); */
    background-color:rgba(67, 143, 173, 0.933);
    color:white;
}
.total{
  display: flex;
  justify-content: space-between;
}